<main class="container center" id = "main">
  <pb-breadcrumbs></pb-breadcrumbs>

  <div class="page-area">

      <pb-article>

              <h1>Stay on track</h1>

          <div>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </div>

      </pb-article>

      <pb-article>
          <h1>Alerts</h1>
<!---Semantics---Highlighting the words -->
          <div>
              What if your clothing budget ended? You will get an alert. <mark> goal is to never go over the budget.</mark>
          </div>
      </pb-article>

      <pb-article>
          <h1>Results</h1>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

      <pb-article>
          <h1>Free</h1>
          <div>
              This app is free!!! And you are the only one holding your data!
          </div>
      </pb-article>

      <pb-article>
          <h1>Stay on track</h1>
          <div>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </div>
      </pb-article>

      <pb-article>
          <h1>Alerts</h1>
          <div>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </div>
      </pb-article>

      <pb-article>
          <h1>Results</h1>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

      <article>
          <h1>Charts</h1>
          <p>
              <canvas id="myChart" width="60" height="30"></canvas>
          </p>
      </article>

  </div>
  <figure>
<!--A11y-   Picture-->
      <img src="/assets/pic.jpg" alt="Picture depicts the coins being added into a jar" style="width:30%">
<!---Semantics      Add fig Caption-->
      <figcaption>Fig.1 - Manage your Budget.</figcaption>

    </figure>


    <div id="D3JS"></div>

    <h2>Get in Contact</h2>
<!---A11Y---Using form to enter the details-->
  <form>
  <label for="Enter your name" >Your Name:</label><br>
  <input id="Enter your name" type="text" name="Enter your name" ><br><br>
  <label for="Enter your Email Id" > Email Id:</label><br>
  <input id="Enter your Email Id" type="text" name="Enter your Email Id"><br><br>
<!---A11Y change----->
  <input type="button" value="Submit" >
  </form>





</main>

