<footer class="one">
  <h2>Get in Contact</h2>
<!---A11Y---Using form to enter the details-->
  <form>
  <label for="Enter your name" >Your Name:</label><br>
  <input id="Enter your name" type="text" name="Enter your name" ><br><br>
  <label for="Enter your Email Id" > Email Id:</label><br>
  <input id="Enter your Email Id" type="text" name="Enter your Email Id"><br><br>
<!---A11Y change----->
  <input type="button" value="Submit" >
  </form>
  <div class="bottom">
    <div class="center">
        All rights reserved &copy; Kiran
    </div>
</div>
</footer>
