<main class="container center" id = "main">

  <div class="page-area">

  <article id="d3chart">
      <figure id="pie">
          <pb-pie></pb-pie>
      </figure>
  </article>
    <article>
      <h1>Pie Chart</h1>
      <p>
          <canvas id="myChart" width="400" height="400"></canvas>
      </p>
  </article>

<!--<article id="barchart">
    <h1>Bar chart using d3.js</h1>
    <figure id="bar">
        <pb-bar-chart></pb-bar-chart>
    </figure>
</article>-->

<article id="table">
  <h1>Table</h1>
  <figure id="tabb">
      <pb-table></pb-table>
  </figure>
</article>
<article>
  <pb-addbudget></pb-addbudget>
</article>





